
# Ignore mac filesystem hidden file
.DS_Store

# ignore the build output
#build/

# ignore npm cache
/node_modules/.cache/

# ignore saved blockchain
data/save/
data/oracle.json
data/test.json


# ignore test dir
#test/

# ignore MA contract
contracts/ManagedAccount.sol

# ignore secret file
secret-mneumonic.js
