
# ignore the build output
build/

# ignore npm cache
/node_modules/.cache/

# ignore saved blockchain
data/

# ignore test dir
test/

# ignore MA contract
contracts/ManagedAccount.sol

# ignore secret file
secret-mneumonic.js
